body {
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
    
}

.negyedik {
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: column;
}
#z {
    background-color: green;
    width: 50%;
    height: 150px;
}

#y {
    background-color: yellow;
    width: 50%;
    height: 300px;
}

#l {
    background-color: purple;
    width: 50%;
    height: 150px;
}